{% load item_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | foodChaser</title>
</head>


<body>
    <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
        <a href="{% url 'core:index' %}" class="text-xl font-semibold">Food Delivery</a>
        <div class="space-x-6">
            <a href="{% url 'items:view_order' %}" class="text-lg font-semibold">Order</a>
            <a href="*" class="text-lg font-semibold">Basket</a>
            {% if request.user.is_authenticated%}
                {% if request.user|is_seller:"seller" %}
                    <a href="*" class="text-lg font-semibold">Edit Item</a>
                {% else %}
                {% endif %}
                <a href="*" class="rounded-xl bg-teal-500 px-6 py-4 font-semibold text-lg text-white hover:bg-teal-700">Dashboard</a>
                <a href="{% url 'core:logout' %}" class="rounded-xl bg-teal-500 px-6 py-4 font-semibold text-lg text-white hover:bg-teal-700">Log Out</a>
            {% else %}
                <a href="{% url 'core:signup' %}" class="rounded-xl bg-teal-500 px-6 py-4 font-semibold text-lg text-white hover:bg-teal-700">Sign Up</a>
                <a href="{% url 'core:login' %}" class="rounded-xl bg-teal-500 px-6 py-4 font-semibold text-lg text-white hover:bg-teal-700">Log in</a>
            {% endif %}
        </div>
    </nav>
    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
    <div class="py-4 px-4 w-full bg-teal-400">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
   
    {% block content %}
    {% endblock %}
</body>
</html>